<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @pull_request.content %>
</p>

<%= link_to 'Edit', edit_pull_request_path(@pull_request) %> |
<%= link_to 'Back', pull_requests_path %>
